{% macro to_url(page) -%}
  {{ build_url(offset=page.offset, limit=page.limit) }}
{%- endmacro %}


<ul class="pager clearfix">
  {% if pager.pages[-2] and (pager.pages[-2].number <= (pager.pages[-1].number - 1)) %}
    {% set prev_page = pager.from_page_number(pager.pages[1].number - 1) %}
  {% else %}
    {% set prev_page = pager.pages[0] %}
  {% endif %}

  {% if pager.pages[0].selected -%}
    <li>
      이전
    </li>
  {%- else %}
    <li>
      <a href="{{ to_url(request, prev_page) }}">
        이전
      </a>
    </li>
  {%- endif %}

  {% for page in pager.pages %}
    <li class="{% if loop.first %}first{% elif loop.last %}last{% endif %}">
      {% if page.selected %}
        <span class="selected">{{ page.number }}</span>
      {% else %}
        <a href="{{ to_url(request, page) }}">
          {{ page.number }}
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% if pager.pages[-2] and (pager.pages[-2].number <= (pager.pages[-1].number - 1)) %}
    {% set next_page = pager.from_page_number(pager.pages[-2].number + 1) %}
  {% else %}
    {% set next_page = pager.pages[-1] %}
  {% endif %}



  {% if pager.pages[-1].selected -%}
    <li>
      다음
    </li>
  {%- else %}
    <li>
      <a href="{{ to_url(request, prev_page) }}">
        다음
      </a>
    </li>
  {%- endif %}
</ul>
